<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <title>HTML Review</title>
    <!--   container for metadata(is not displayed on the page)
     -->
</head>
<body>
<b> welcome to Java Class </b>
<h1 align="center" style="color: blue"> welcome to Java Class </h1>
<ul>
    <li>java</li>
    <li>python</li>
    <li>js</li>
</ul>

<a href="https://www.google.com">Google</a>
<br>

<table>
    <thead>
    <tr>
        <td>name</td>
        <td>surname</td>
        <td>age</td>
    </tr>

    </thead>
    <tr>
        <td>fatih</td>
        <td>sanli</td>
        <td>40</td>
    </tr>


</table>

<label>Date</label>
<input type="date" name="username">
<br>
<label>Password</label>
<label>
    <input type="password" name="password">
</label>
<br>
<label>Enter your Comment</label>
<label>
    <textarea name="commnets"></textarea>
</label>
<br>
<label>Pls select your gender
    <input type="radio" name="gender" value="male">Male
    <input type="radio" name="gender" value="Female">Female
    <input type="radio" name="gender" value="other">other
</label>
<br>

<label>Pls select your fav course
    <input type="checkbox" name="course" value="Spring">Spring
    <input type="checkbox" name="course" value="DataStructure">DataStructure
    <input type="checkbox" name="course" value="DataBase">DataBase


</label>
<br>
<label> Select your country
    <select name="country">
        <option value="Turkey">Turkey</option>
        <option value="USA">USA</option>
        <option value="England">England</option>
    </select>
    <br>
</label>

<form action="#" method="post">


   <input type="text" name="firstname">   first name:

    <input type="text" name="lastname">last name:

<input type="button" name="submit">submit


</form>


<h2> welcome to Java Class </h2>
<h3> welcome to Java Class </h3>
<h4> welcome to Java Class </h4>
<button class="btn btn-danger" type="button" data-toggle="">
    Success
</button>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>John</td>
        <td>Doe</td>
        <td>jdoe@gmail.com</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Will</td>
        <td>Johnson</td>
        <td>will@yahoo.com</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Shannon</td>
        <td>Williams</td>
        <td>shannon@yahoo.com</td>
    </tr>
    </tbody>

</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>